body {
  font-family: "Poppins", sans-serif;
}

footer {
  background: #f0f1ff;
  padding-left: 360px;
  p {
    color: #676767;
  }
}

.page-content {
  border: 10px solid white;
  filter: drop-shadow(10px 20px 15px rgba(0, 0, 0, 0.29));
}
